// app global css in SCSS form
.standalone {
  @media (display-mode: browser), (display-mode: fullscreen) {
    display: none;
  }
}

body {
  --page-color: white;
  --card-color: white;
  --distinct-bg-color: #eee;
  --separator-color: #{$separator-color};

  .text-page {
    color: initial;
  }

  &.body--dark {
    --page-color: var(--q-dark-page);
    --card-color: var(--q-dark);
    --distinct-bg-color: #282828;
    --separator-color: #{$separator-dark-color};

    .text-page {
      color: #fff;
    }
  }

  .bg-page {
    background: var(--page-color);
  }
}

.bg-institute {
  background: $v-lo-institute;
}

@import "time-marker";
