// app global css in SCSS form
.standalone {
  @media (display-mode: browser), (display-mode: fullscreen) {
    display: none;
  }
}

body {
  --page-color: white;
  --card-color: white;
  --distinct-bg-color: #eee;
  --separator-color: #{$separator-color};

  .text-page {
    color: initial;
  }

  &.body--dark {
    --page-color: var(--q-dark-page);
    --card-color: var(--q-dark);
    --distinct-bg-color: #282828;
    --separator-color: #{$separator-dark-color};

    .text-page {
      color: #fff;
    }
  }

  .bg-page {
    background: var(--page-color);
  }
}

.bg-institute {
  background: $v-lo-institute;
}

a:not(.q-btn):not(.q-item) {
  color: $primary;

  &:not(:hover):not(:active) {
    text-decoration: none;
  }
}

.tab-navigation {
  font-size: 0.75em;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;

  &:not(:focus) {
    opacity: 0;
    pointer-events: none;
  }
}

@import "time-marker";
