.slide-up-enter-active, .slide-up-leave-active,
.slide-down-enter-active, .slide-down-leave-active {
  transition: transform 200ms, opacity 200ms;
}

.slide-up-enter-from, .slide-up-leave-to,
.slide-down-enter-from, .slide-down-leave-to {
  opacity: 0;
}
.slide-up-enter-from, .slide-down-leave-to {
  transform: translateY(-12px);
}
.slide-up-leave-to, .slide-down-enter-from {
  transform: translateY(12px);
}
